.github/
.git
.gitattributes
.gitignore
.vscode

__pycache__/

./api/main.py
assets/
dashboards/
dist/
frontend/
saved_models/
gcp/
inference_images/
installer/
mobile/
scripts/
tests/
training/

launcher.exe
LICENSE
make.bat
.env
.env.docker
makefile
pytest.ini
README.md

./requirements.txt